{% extends "layout.html" %}
{% block title %}
<title>Processing</title>
{% endblock %}
{% block body %}
<div class="d-flex flex-column container">
    <div class="d-flex flex-row mb-3">
        <h3 class="choose-title">Currently Downloading</h3>
        <h3 class="ms-3 choose-title">{{current_count}}/{{total_count}}</h3>
    </div>
    <div aria-label="Progress bar" aria-valuemax="{{total_count}}" aria-valuemin="0" aria-valuenow="0"
         class="progress" style="height: 30px;" id="progress" role="progressbar">
        <div class="progress-bar " style="width: 0%; font-size: 15px;" id="progress-bar"></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/downloading.js"></script>
{% endblock %}